.App {
	text-align: center;
	background-image: url("../public/marcus_and_nicole.jpeg");
	background-size: 70vh;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.date {
	position: absolute;
	width: 50vw;
	height: 5vh;
	left: 25%;
	top: 50px;
	cursor: pointer;
	opacity: 0;
}

@media screen and (max-width: 600px) {
	.App {
		text-align: center;
		background-image: url("../public/marcus_and_nicole.jpeg");
		background-size: 50vh;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		height: 80vh;
	}
	.date {
		position: absolute;
		width: 50vw;
		height: 8vh;
		left: 25%;
		top: 50px;
		cursor: pointer;
	}
}
